@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset básico */
html,
body {
    padding: 0;
    margin: 0;
}

/* Fonte padrão */
body {
    @apply bg-gray-100 text-gray-900;
}

/* Inputs padrão */
input,
select,
textarea {
    @apply border border-gray-300 rounded-md px-3 py-2 outline-none focus:ring-2 focus:ring-primary;
}

/* Botões padrão */
.btn-primary {
    @apply bg-primary text-white px-4 py-2 rounded-md hover:bg-blue-700 transition;
}

.btn-secondary {
    @apply bg-gray-700 text-white px-4 py-2 rounded-md hover:bg-gray-800 transition;
}